PROJECT_NAME=Flora Service
BACKEND_CORS_ORIGINS=["http://localhost:8000", "https://localhost:8000", "http://localhost", "https://localhost"]


POSTGRES_USER=flora
POSTGRES_PASSWORD=password
POSTGRES_SERVER=localhost
POSTGRES_DB=flora


KEYCLOAK_URL=http://localhost:8081/auth/
KEYCLOAK_CLIENT_ID=admin-cli
KEYCLOAK_REALM_NAME=master
KEYCLOAK_ADMIN_USER=admin
KEYCLOAK_ADMIN_PASSWORD=Pa55w0rd

SCRAPING_URL=http://localhost:8082/


AUTH_ON=false